.notFound-btn {
    position: absolute;
    bottom: 5%;
    left: 45%;
}
.notFound {
    position: relative;
}
.notFound-btn {
    background-color: #12c5c3 !important;
    border-color: transparent !important;
}