.login-from {
    width: 60%;
}
.login-logo {
    background-color: #fab03f;
    width: 170px;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.login-border {
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
}
.login-icon {
    width: 42px;
}
.color {
    background-color: #f8f8a8;
}
.card-btn {
    background-color: #fab03f !important;
    border-color: transparent !important;
    margin-top: 8px;
}

.login-logo {
    font-size: 100px;
    color: #282828;
}
.forget {
    cursor: pointer;
}

.sign-logo {
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .login-from {
        width: 90%;
    }
    .login-banner {
        display: none;
    }
}